#fxml{
	-fx-background-color: rgba(0, 0, 0, 0.6);
}

.menu-bar{
	-fx-background-color: #1a936f;
}

#mainWindow{
	-fx-background-color: #C6DABF;
}

.tree-cell{
	-fx-background-color: #ffffff;
}
.tree-cell:selected{
	-fx-background-color: #e5e5e5;
-fx-text-fill: black;
}
.text-field{
	-fx-pref-width: 66;
	-fx-font-family: Arial;
	-fx-font-size: 17;
}
.generalButton {
	-fx-background-color: #1a936f;
	/*
	-fx-pref-width: 237px;
	*/
	-fx-pref-width: 88px;
	-fx-border:1px  ;
    -fx-border-radius: none;
	-fx-background-radius:none ;
	-fx-end-margin:1px;
	display:inline-block;
	-fx-cursor:hand;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.generalButton:hover{
	-fx-background-color: #44bf82;
}
.generalButton:focused{
	-fx-background-color: #44bf82;
}

